version: "3.5"
x-logging:
  &default-logging
  driver: json-file
  options:
    max-size: '50m'
    max-file: '5'
x-sysctls:
  &default-sysctls
  - net.core.somaxconn=1024
x-ulimits:
  &default-ulimits
  nproc: 65535
  nofile:
    soft: 65535
    hard: 65535

services:
  logstash:
    image: {{ LOGSTASH_IMAGE }}:{{ LOGSTASH_TAG }}
    container_name: logstash

    environment:
      - LANG=en_US.UTF-8

    user: root
    restart: always
    volumes:
      - ${PWD}/config/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
      - ${PWD}/config/pipelines.yml:/usr/share/logstash/config/pipelines.yml
      - ${PWD}/config/logstash.yml:/usr/share/logstash/config/logstash.yml

    ports:
      - 5044-5050:5044-5050

    extra_hosts:
      - elasticsearch:{{ ES_IP }}
      - kibana:{{ KIBANA_IP }}
      - service.elasticsearch.com:{{ ES_IP }}


    logging: *default-logging
    sysctls: *default-sysctls
    ulimits: *default-ulimits
