
[mysqld]
port=3306
server_id={{ server_id }}
port=3306
bind_address=0.0.0.0
log_error=/var/log/mysql/mysqld.log
character_set_server=utf8mb4
datadir = /var/lib/mysql
pid_file = /run/mysqld/mysqld.pid
socket = /var/lib/mysql/mysql.sock
max_allowed_packet=32M
# 30 day
binlog_expire_logs_seconds= 1209600
max_binlog_size = 512M
max_connections=1000

## Per_thread Buffers
sort_buffer_size                = 24M
read_buffer_size                = 16M
read_rnd_buffer_size            = 24M
join_buffer_size                = 16M

bulk_insert_buffer_size = 256M
key_buffer_size=128M
bulk_insert_buffer_size=256M

#slave setting
read_only          = ON
#only write from master.
super_read_only    = ON
# 8 core
slave_parallel_workers={{SLAVE_WORKERS}}


#Insert updates limit
max_allowed_packet = 256M

## Temp Tables
#tmp_table_size                  = 1024M
#max_heap_table_size             = 1024M

## Networking
back_log                =       1000
#depend on os level
open_files_limit        =       10000
max_connections         =       1000
max_connect_errors      =       5000
interactive_timeout     =       600
wait_timeout            =       600

#sql_mode = "STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"


# --- LOGGING --- #
log_queries_not_using_indexes  = ON
slow_query_log                 = ON
long_query_time                = 2
slow_query_log_file            = /var/log/mysql/mysql-slow.log
log_throttle_queries_not_using_indexes = 20